<h1>User info</h1>
<div class="profile-container">
  <!-- image -->
  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
  <!-- name -->
  <p class = "profile-name">name:<%= @user.name %></p>
  <!-- introduction -->
  <p class = "profile-introduction">introduction:<%= @user.introduction %></p>

  <!-- link>>users/edit -->
   <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>